<div>
    <h2>Todo's</h2>
    <label for="filter-todo">Filter todos: </label>
    <select name="" id="filter-todo" (change)="onFilterTodos($event)">
        <option value="">All</option>
        <option *ngFor="let category of getCategories()">
            {{category}}
        </option>
    </select>
    <ul>
        <li *ngFor="let todo of filterTodos">
            {{todo.description}}

            <button (click)="todo.showDetail=!todo.showDetail">Show/Hide Detail</button>
            <button>Completed</button>
            <button>Delete</button>
            <app-todo-detail *ngIf="todo.showDetail" [todo]="todo" (hideDetail)="onHideDetail()"></app-todo-detail>

        </li>
    </ul>
    
</div>
